server:
  port: 8888

spring:
  application:
    name: config-service
  rabbitmq:
    host: 172.18.0.2
    port: 5672
    username: guest
    password: guest
  profiles:
    active: git
  cloud:
    config:
      server:
        native:
          search-locations: file://${user.home}/Desktop/Work/native-file-repo
        git: #default
#          uri: file://C:\Users\shbang\Desktop\Work\git-local-repo
          uri: https://github.com/joneconsulting/spring-cloud-config
#          default-label: master
#          ussername:
#          password:
management:
  endpoints:
    web:
      exposure:
        include:
          - refresh
          - health
          - beans
          - info
          - busrefresh