server:
  port: 8888

spring:
  application:
    name: config-service
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
  profiles:
    active: git
  cloud:
    config:
      server:
        native:
        git: #default
          uri: file://C:\Users\shbang\Desktop\Work\git-local-repo
#          uri: https://github.com/joneconsulting/spring-cloud-config
          default-label: master
#          ussername:
#          password:
management:
  endpoints:
    web:
      exposure:
        include:
          - refresh
          - health
          - beans
          - info
          - busrefresh